- function pathToValue(path) {
-   var result = '/' + path.slice(0, path.length-10);
-   if (!isNaN(+result.slice(1,5))) result = '/';
-   return result;
- }  

ul.nav.nav-list
    each value, key in theme.menu
        li.nav-list-item
            - var re = /^(http|https):\/\/*/gi;
            - var tar = re.test(value) ? "_blank" : "_self"
            a.nav-list-link(class={active: pathToValue(path) === value} href=value target=tar)
                != key.toUpperCase()